{% extends "site/master.html" %}

{% block content %}

<a href="/user/create" class="btn btn-info">Create</a>

{{ message['message']|message(message['alert']) | raw }}
<h2 class="section-title">Nossos Clientes</h2>
<section id="menu">
    {% for user in users %}
    

        <div id="dishes">
            <div class="dish">
                <h3 class="dish-title">
                    {{ user.nome }}
                </h3>
                <h6>{{ user.email }}</h6>


                <div class="dish-rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

            </div>
        </div>

         
        <a href="/user/edit/{{ user.id }}" class="btn btn-success">Editar</a>
        <form action="/user/delete/{{ user.id }}" method="post">
            <input type="hidden" name="_METHOD" value="DELETE">
            <button type="submit" class="btn btn-danger">Deletar</button>
        </form>
    

    {% endfor %}
</section>  

{% endblock %}
