{% extends "site/master.html" %}

{% block content %}


<a href="/consultas/create" class="btn btn-info">Create</a>
<h2 class="section-title">Nossas Consultas</h2>
<section id="menu">
{{ message['message']|message(message['alert']) | raw }}

    {% for consulta in consultas %}


        <div id="dishes">
            <div class="dish">
                <h3 class="dish-title">
                    Dr. {{ consulta.nome_medico }}
                </h3>
                <p>
                    Motivo: {{ consulta.tipo_consulta }} <br>
                    Data: {{ consulta.data }} <br>
                    Animal:  {{ consulta.nome_animal }} 
                    Dono: {{ consulta.nome_cliente }}  
                </p>


                <div class="dish-rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

            </div>
        </div>

         
        <a href="/consultas/edit/{{ consulta.id }}" class="btn btn-success">Editar</a>
        <form action="/consultas/delete/{{ consulta.id }}" method="post">
            <input type="hidden" name="_METHOD" value="DELETE">
            <button type="submit" class="btn btn-danger">Deletar</button>
        </form>

    {% endfor %}
</section> 


{% endblock %}
