{% extends "site/master.html" %}

{% block content %}

<main id="content">
    <section id="home">
        <div id="cta">
            <h1 class="title">
                Venha fazer parte desta
                <span>Família</span>
            </h1>

            <p class="description">
                Clinivet : Clinica Veterinária ❤ <br>
                Conte Conosco para ajudar a salvar vidas, criar políticas públicas e mudar a realidade dos animais! <br>
                <strong>Há 50 anos fazendo história</strong>
            </p>

            <div id="cta_buttons">
                <a href="/loja" class="btn-default">
                    Acesse nossa Loja
                </a>

                <a href="https://wa.me/554899999999" target="_blank" id="phone_button">
                    <button class="btn-default">
                        <i class="fa-solid fa-phone"></i>
                    </button>
                    (48) 99999-9999
                </a>
            </div>

            <div class="social-media-buttons">
                <a target="_blank" href="https://wa.me/5548999999999">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>

                <a target="_blank" href="https://www.instagram.com/clinivetexemplonaoexiste/">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a target="_blank" href="https://www.facebook.com/clinivetexemplonaoexiste/?locale=pt_BR">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div>
        </div>

        <div id="banner">
            <img src="./assets/img/dog1.webp" alt="">
        </div>
    </section>



    <section id="testimonials">
        <img src="./assets/img/f1.jpg" id="testimonial_chef" alt="">

        <div id="testimonials_content">
            <h2 class="section-title">
                Depoimentos
            </h2>
            <h3 class="section-subtitle">
                O que falam sobre nós
            </h3>

            <div id="feedbacks">
                <div class="feedback">
                    <img src="./assets/img/avatar.png" class="feedback-avatar" alt="">

                    <div class="feedback-content">
                        <p>
                            Fulana de Tal
                            <span>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                        </p>
                        <p>
                            Sempre que preciso de cuidados veterinários para meus animais, venho a esta clínica. Os veterinários são extremamente competentes e os funcionários são amigáveis e prestativos. Confio plenamente no serviço que recebo aqui e não poderia recomendar o suficiente!
                        </p>
                    </div>
                </div>

                <div class="feedback">
                    <img src="./assets/img/avatar.png" class="feedback-avatar" alt="">

                    <div class="feedback-content">
                        <p>
                            Fulana de Tal
                            <span>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                        </p>
                        <p>
                            Minha experiência na clínica veterinária foi incrível! Eles cuidaram do meu cachorro com tanto carinho e profissionalismo. A equipe foi muito atenciosa desde o momento em que entrei até a consulta com o veterinário. Recomendo totalmente!
                        </p>
                    </div>
                </div>

                <div class="feedback">
                    <img src="./assets/img/avatar.png" class="feedback-avatar" alt="">

                    <div class="feedback-content">
                        <p>
                            Fulana de Tal
                            <span>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                        </p>
                        <p>
                            Estou muito feliz por ter encontrado essa clínica veterinária. Eles salvaram a vida do meu gato em uma emergência e proporcionaram um cuidado excepcional durante todo o processo. Agradeço de coração à equipe dedicada que não mediu esforços para ajudar.
                        </p>
                    </div>
                </div>
            </div>

            <a href="#home">
                <button class="btn-default">
                    Início
                </button>
            </a>
        </div>
    </section>
</main>

{% endblock %}
