{% extends 'site/master.html' %}

{% block master %}

{{ musicas.nomemusica }}

    
	
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Nome da musica: <span> </span> {{ musicas.nomemusica }}</h5>
          <p class="card-text">Banda: <span> </span> {{ musicas.banda }}</p>
          <p class="card-text">Instrumento:  <span> </span> {{ musicas.instrumento }}</p>
          <p class="card-text">Dificuldade:  <span> </span> {{ musicas.dificuldade }}</p>
          <p class="card-text">Link  <span> </span>{{ musicas.link }}</p>
          <a href="/atualizar/{{musicas.id}}" class="btn btn-success">atualizar</a>
          <a href="/deletar/{{musicas.id}}" class="btn btn-danger">deletar</a>
        </div> 
      </div>
    

      {% set video_id = musicas.link %}  {# ID do vídeo do YouTube #}

<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allowfullscreen></iframe>



{% endblock %}