{% extends "site/master.html" %}

{% block content %}

<h1>Produtos</h1>
<a href="/produtos/create" class="btn btn-info">Create</a>

{{ message['message']|message(message['alert']) | raw }}

<ul>
    {% for produto in produtos %}
    <li>
        {{ produto.nome }} {{ produto.valor }}
        <a href="/produtos/edit/{{ produto.id }}" class="btn btn-success">Editar</a>
        <form action="/produtos/delete/{{ produto.id }}" method="post">
            <input type="hidden" name="_METHOD" value="DELETE">
            <button type="submit" class="btn btn-danger">Deletar</button>
        </form>
    </li>
    {% endfor %}

</ul>


{% endblock %}
