{% extends "site/master.html" %}

{% block content %}

<h2>Create</h2>

{{ messages['message']['message'] | message(messages['message']['alert']) | raw }}


<form action="/user/store" method="post">
    <input type="text" name="nome" class="form-control">
    {{ messages['nome']['message'] | message(messages['nome']['alert']) | raw }}
    <br>
    
    <input type="text" name="email" class="form-control">
    {{ messages['email']['message'] | message(messages['email']['alert']) | raw }}
    <br>
    
    <input type="password" name="password" class="form-control">
    {{ messages['password']['message'] | message(messages['password']['alert']) | raw }}
    <br>
    <button type="submit">Cadastrar</button>
</form>


{% endblock %}
