{% extends "site/master.html" %}

{% block content %}

<h1>Vendas</h1>

{{ message['message']|message(message['alert']) | raw }}

<h2 class="section-title">Nossas Vendas</h2>
<section id="menu">
    {% for venda in vendas %}
        <div id="dishes">
            <div class="dish">
                <h3 class="dish-title">
                    Cliente: {{ venda.nome_cliente }} 
                </h3>
                <p>
                    Código: {{ venda.codigo }} <br>
                    Data: {{ venda.data_venda }} <br>
                    Valor: {{ venda.valor_total }} 
                </p>

                <div class="dish-rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

            </div>
        </div>

        <form action="/vendas/delete/{{ venda.id }}" method="post">
            <input type="hidden" name="_METHOD" value="DELETE">
            <button type="submit" class="btn btn-danger">Deletar</button>
        </form>
 
    {% endfor %}

</section>  


{% endblock %}
