<footer>
    <img src="http://localhost:8888/assets/img/wave.svg" alt="">

    <div id="footer_items">
        <span id="copyright">
            &copy Clinica veterinária de Garopaba - CLINIVET
        </span>

        <div class="social-media-buttons">
            <a href="https://wa.me/5548996811565">
                <i class="fa-brands fa-whatsapp"></i>
            </a>

            <a target="_blank" href="https://www.instagram.com/clinivetexemplonaoexiste/">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <a target="_blank" href="https://www.facebook.com/clinivetexemplonaoexiste/?locale=pt_BR">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </div>
    </div>
</footer>