<div id="header">
    <header>
        <nav id="navbar">
            <a href="/"><i class="fa-solid fa-paw" id="nav_logo">CLINIVET</i></a>

            <ul id="nav_list">
                <li class="nav-item active">
                    <a href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/user">Clientes</a>
                </li>
                <li class="nav-item">
                    <a href="/medicos">Medicos</a>
                </li>
                <li class="nav-item">
                    <a href="/animals">Animais</a>
                </li>
                <li class="nav-item">
                    <a href="/consultas">Consultas</a>
                </li>
                <li class="nav-item">
                    <a href="/produtos">Produtos</a>
                </li>
                <li class="nav-item">
                    <a href="/vendas">Vendas</a>
                </li>
                <li class="nav-item">
                    <a href="/loja/carrinho"><i class='bx bx-cart'></i></a>
                </li>
                
            </ul>

            <button id="mobile_btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>

        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav-item active">
                    <a href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/user">Clientes</a>
                </li>
                <li class="nav-item">
                    <a href="/medicos">Medicos</a>
                </li>
                <li class="nav-item">
                    <a href="/animals">Animais</a>
                </li>
                <li class="nav-item">
                    <a href="/consultas">Consultas</a>
                </li>
                <li class="nav-item">
                    <a href="/produtos">Produtos</a>
                </li>
                <li class="nav-item">
                    <a href="/vendas">Vendas</a>
                </li>
            </ul>

        </div>
    </header>
    
    <div>
        {% if logged_in %}
        Bem vindo, {{ user.nome }}
        <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
        {% else %}
            Bem vindo, Visitante.
            <a href="/login" class="btn btn-warning btn-sm">Login</a>
        
        {% endif %}

        
    </div>

    
</div>